*{
    background-color:gray;
}
div{
    height: 100px;
    width: 100px;
    border: 10px solid white;
    border-top: 10px solid cyan;
    border-radius:50%;
    animation: rotate 2s linear infinite;
}


section{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

@keyframes rotate{
  100%{
        transform:rotateZ(360deg);
    }
}